* {
    margin:0;
    padding:0;
    font-weight: normal;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

body {
    font-size: 14px;
}

input {
    border: 0 none;
    outline-style: none;
}

button {
    border: 0 none;
    outline-style: none;
}

img {
    vertical-align: middle;
}